/*1315830813,169775812*/

html body{background:#e7e7e7}
.devsitePage{font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;font-size: 11px;color:#333;margin:0;min-width:1024px;font-size: 11px}
.devsitePage a:hover{text-decoration:underline}
.devsitePage a.uiButton:hover,
.devsitePage a.itemAnchor:hover{text-decoration:none}
.devsitePage img{border:0}
.devsitePage table{border:0;margin:0;border-collapse:collapse;border-spacing:0}
.devsitePage table td,
.devsitePage table th{border:0;padding:0;text-align:left;vertical-align:top}
.devsitePage table th{font-weight:bold}
.devsitePage h1,
.devsitePage h2,
.devsitePage h3,
.devsitePage h4{margin:0;padding:0;border:0}
.devsitePage .clear{clear:both}
.devsitePage .body .content{margin:auto;max-width:940px}
.devsitePage .header,
.devsitePage .body,
.devsitePage .body p,
.devsitePage .body ul,
.devsitePage .body ol,
.devsitePage .body li,
.devsitePage .body th,
.devsitePage .body th,
.devsitePage .body td{font-size: 12px}
.devsitePage .body pre,
.devsitePage .body p,
.devsitePage .body li,
.devsitePage .body dt,
.devsitePage .body dd,
.devsitePage .refindex .page,
.devsitePage .body textarea,
.devsitePage .body td{line-height:18px}
.devsitePage dl,
.devsitePage dt,
.devsitePage dd{margin:0}
.devsitePage dd,
.devsitePage .refindex .page{margin-bottom:10px}
.devsitePage dd p,
.devsitePage .refindex .page .snippet p{margin:0}
.devsitePage dt,
.devsitePage .refindex .page .title{font-weight:bold}
.devsitePage dt a.private,
.devsitePage .refindex .page .title a.private,
.devsitePage .metanotice{background:#fff9d7;border:1px solid #e2c822;padding:1em;margin:1em}
.devsitePage textarea{resize:none}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{display:block;zoom:1}
.devsitePage .plugin_form{float:left;background:#efefef;margin:10px 20px 15px 0;padding:10px;border-top:solid #C1C1C1 1px;width:220px}
.devsitePage .plugin_form dt{color:#666}
.devsitePage .plugin_form dt a.uiTooltip{font-weight:normal;font-size: 11px}
.devsitePage .plugin_form dd{padding:5px 0 10px 0;border-bottom:solid #D0D0D0 1px;margin-bottom:5px}
.devsitePage .plugin_form dd label{color:#000;font-weight:normal}
.devsitePage .plugin_form .wideinputtext{width:210px}
.devsitePage .plugin_example{float:left;width:420px;padding:10px}
.devsitePage .dark_background{background-color:#333}
.devsitePage .nofloat{float:none}
.dialog_body{padding-bottom:0}
.dialog_body .code{margin-bottom:16px}
.dialog_body .code div{margin:5px 0}
.dialog_body .code input,.dialog_body .code textarea{width:600px;font:12px monospace}
.LDialog_DeveloperPluginCode .pop_container,.LDialog_DeveloperPluginCode .pop_container_advanced{width:630px}
.LDialog_DeveloperPluginCode label{margin:5px;font-size: 12px}
.devsitePage .body > .content{background:#fff;border:1px solid #d9d9d9;border-top:0;-webkit-box-shadow:#ddd 0 1px 1px;padding:15px 20px 20px}
.devsitePage .nav > .content{background:#fff;}
.devsitePage .body ol,.devsitePage .body ul{list-style-type:disc;padding-left:3em}
.devsitePage .body .uiSelector ul,.devsitePage .body ul.uiList{list-style-type:none;margin:0;padding-left:0}
.devsitePage .body ol{list-style-type:decimal}
.devsitePage .body strong{font-weight:bold}
.devsitePage em,.devsitePage .body i{font-style:italic}
.devsitePage .body h1{font-size: 28px;font-weight:normal;margin:0;margin-bottom:8px}
.devsitePage .body h2{font-size: 20px;font-weight:normal;letter-spacing:-0.03em;margin:25px 0 15px 0}
.devsitePage .body h3{font-size: 15px;margin:15px 0 10px 0}
.devsitePage .body dl,.devsitePage .body table,.devsitePage .body pre,.devsitePage .body ul,.devsitePage .body ol,.devsitePage .body p{margin:0;margin-bottom:1em}
.devsitePage .body pre,.devsitePage .body code,.devsitePage .body table.params td.name{font-family:monospace;color:#006000;font-size: 13px}
.devsitePage .body h2 code{font-size:inherit}
.devsitePage .body pre,.devsitePage .body .pre{background:#f2f2f2;border:1px solid #d8dfea;border-left-width:3px;margin:18px;padding-top:7px;padding-bottom:7px;padding-left:10px;overflow:auto}
.devsitePage .body img.externalLink{left:5px;position:relative;top:-5px;width:10px}
.devsitePage .body table{margin-bottom:1em}
.devsitePage .body table td,.devsitePage .body table th{ /*border:1px solid #ddd;*/text-align:left;padding:6px;padding-top:4px;padding-bottom:4px;padding-right:10px;vertical-align:top}

.devsitePage .body table td.closeButton{padding-right:0}
.devsitePage .body table.noborder td{border:0}
.devsitePage .body table.bordered td,.devsitePage .body table.bordered th{border:1px solid #ddd}
.devsitePage .body table.uiGrid td{border:0}
.devsitePage .body table td p:last-child{margin-bottom:0}
.devsitePage .body table.uiInfoTable{width:auto}
.devsitePage .body table.uiInfoTable td,.devsitePage .body table.uiInfoTable th{border:0;padding:6px;width:auto;height:auto;vertical-align:middle}
.devsitePage .body table.uiInfoTable th{width:auto}
.devsitePage .footer{color:#777;padding-bottom:30px}
.devsitePage .footer .content{margin:0 auto;max-width:980px;padding:10px}
.devsitePage .footer .copyright{float:left}
.devsitePage .footer .links{text-align:right}
.devsitePage .footer .links a{margin-left:15px}
.devsitePage .header{background:white;border-bottom:1px solid #ddd;margin-bottom:20px;padding-bottom:25px;padding-top:0}
.devsitePage .header h1{margin:0;font-size: 24px;font-weight:normal}
.devsitePage .header h1 a{color:#333;text-decoration:none}
.devsitePage .header .breadcrumbs{margin-top:4px}
.devsitePage div.admin{background:#eee;border:1px solid #ddd;float:right;font-size: 11px;z-index:0;padding:8px;position:relative}
.devsitePage div.admin a{margin:0 6px}
.devsitePage .body .titleblock{margin:20px 0}
.devsitePage .body .titleblock h1{font-size: 24px;font-weight:normal;padding:0}
.devsitePage .body .titleblock h3{color:#797c80;font-size: 16px;font-weight:normal;line-height:22px;margin:0 0 3px 0;padding:0}
.devsitePage .body .titleblock div.stats{margin-top:20px}
.devsitePage .body .titleblock .statsbox{background:#eee;float:right;padding:20px 20px 10px 20px;width:200px}
.devsitePage .body .titleblock div.stats .statsbox li{color:#333;font-size: 11px;line-height:14px}
.devsitePage .body .titleblock div.stats ul{color:#627aad;list-style-type:square;padding:0 0 0 17px}
.devsitePage .body .titleblock div.stats li{font-size: 14px;line-height:22px;margin-bottom:5px}
.devsitePage .body .titleblock div.stats li span{color:#333}
.devsitePage .body .titleblock img{float:left;height:65px;margin:0 10px 0 0}
.devsitePage .body p.intro{color:#797c80;font-size: 14px;line-height:21px;margin-bottom:20px}
.devsitePage .body p.intro b{color:#444}
.devsitePage .body .contentblock{clear:right;float:left;margin:1.5em 0;position:relative;width:100%}
.devsitePage .body hr{clear:right;margin:20px 0}
.devsitePage .body h3{margin-top:25px}
.devsitePage .body .contentblock h2{margin:0 0 15px 0;padding:0}
.devsitePage .body .contentblock h2.mbn{margin:0}
.devsitePage .body .contentblock h3{color:#999;font-size: 13px;font-weight:normal;margin:0 0 20px 0}
.devsitePage .body .contentblock h4{color:#000;font-size: 14px;font-weight:bold;line-height:18px;margin-bottom:4px}
.devsitePage .body .contentblock p{color:#333;font-size: 12px;line-height:18px;margin-bottom:18px}
.devsitePage .body .contentblock a.more{background:url(/attachment/more.png) no-repeat 100% 3px;padding-right:10px}
.devsitePage .body .contentblock img.right{float:right;margin:0 0 10px 20px}
.devsitePage .body .contentblock img.left{display:table-cell;float:left;margin:0 20px 10px 0}
.devsitePage .body .contentblock img.bleed{margin-right:-16px}
.devsitePage .body .contentblock img.bordered{border:1px solid #ddd;margin-bottom:10px;padding:5px}
.devsitePage .body .contentblock ol{margin:10px 0;padding:0 0 0 23px}
.devsitePage .body .contentblock ol li{margin-bottom:10px}
.devsitePage .body .fleft{float:left;width:357px}
.devsitePage .body .fright{float:right;width:357px}
.devsitePage .body .fleft ul,
.devsitePage .body .fright ul{list-style-type:square;margin:0;padding:0 0 0 20px}
.devsitePage .body .fleft ul li,
.devsitePage .body .fright ul li{margin:0 0 10px 0}
.devsitePage .body .fcol{float:left;width:231px}
.devsitePage .body .poq{background:#f1f2f9;margin-bottom:20px;margin-top:-20px;padding:20px}
.devsitePage .body .poq p{color:#666}
.devsitePage .body .poq p.small{color:#999;font-size: 11px;margin:0}
.devsitePage .body .poq .credit img.left{margin-right:10px}
.devsitePage .body .poq.right{float:right;margin-left:20px;width:280px}
.devsitePage .body .poq.left{float:left;margin-right:20px;width:280px}
.devsitePage .body .pagebottom{border-top:1px solid #ddd;clear:both;height:25px;padding-top:20px}
.devsitePage .body .pagebottom a.right{float:right}
.devsitePage .body .pagebottom a.left{float:left}
.devsitePage .thumbnail{float:left;margin-right:10px}
.devsitePage .thumbnail .img{border:1px solid #ccc}
.devsitePage .plugin .name, .devsitePage .plugin .desc{margin-left:143px}
.devsitePage .plugin .name{font-size: 16px;line-height:24px}
.devsitePage .timestamp{color:#666;font-size: 11px}
.devsitePage .clearcols{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0}
.devsitePage .menu{background:#254b82;font-weight:bold;padding-top:8px}
.devsitePage .menu .content{background:#325c99;border:1px solid #1a3c6c;border-bottom:0;margin:0 auto;padding:0;width:980px}
.devsitePage .menu,
.devsitePage .menu a{color:#fff}
.devsitePage .menu a.logo{border-right:1px solid #1a3c6c;margin-right:10px;padding:7px 20px 9px;line-height:0}
.devsitePage .menu a.logo img{width:166px;height:17px}
.devsitePage .menu a.logo,
.devsitePage .menu a.l{display:block;float:left}
.devsitePage .menu a.l{line-height:29px;padding:2px 11px 2px}
.devsitePage .menu a.l:hover, .devsitePage .menu a.logo:hover{background:#1a3c6c;text-decoration:none}
.devsitePage .menu .search{float:right;padding:5px 20px 5px 20px;width:280px}
.devsitePage .menu .uiTypeahead{border:0}
.devsitePage .menu .uiTypeahead .wrap{border:0}
.devsitePage .menu .uiSearchInput{border:0}
.devsitePage .menu .uiSearchInput input{width:270px}
.devsitePage .menu .uiSearchInput span{border:0;padding:0}
.devsitePage .menu .uiSearchInput button{top:1px}
.devsitePage .menu .uiTypeaheadView{z-index:1}
.devsitePage .menu .uiTypeaheadView li{color:#3b5998}
.devsitePage .menu .inputtext{border:0;padding:5px 4px}
/*.devsitePage .menu{position:fixed;width:100%;z-index:100}*/
.devsitePage #navsubsectionpages{margin-top:20px}
.devsitePage #navsubsectionpages h5{color:#777;font-size: 11px;margin:25px 0 10px 10px}
.devsitePage #navsubsectionpages ul{margin-left:10px}
.devsitePage #navsubsectionpages li{border:0;font-size: 11px;padding:1px 0}
.devsitePage #navsubsectionpages li a{padding:0}
.devsitePage .bodyText{margin-left:208px}
.devsitePage .bodyMenu li a.private{margin-left:5px}
.devsitePage .bodyMenu{float:left;overflow:hidden;width:166px}
.devsitePage .bodyMenu.fixed{position:fixed}
.devsitePage .bodyMenu.fixedScrolling{bottom:0}
.devsitePage .bodyMenu .title{color:#666;font-size: 24px;font-weight:normal;line-height:28px;margin:0;padding:0}
.devsitePage .bodyMenu ul{list-style-type:none;padding:0;margin:0;margin-bottom:0}
.devsitePage .bodyMenu li{margin:0}
.devsitePage .bodyMenu h4,
.devsitePage .bodyMenu li a{padding:6px 6px 6px 10px}
.devsitePage .bodyMenu h4{font-size: 16px;font-weight:normal;color:#666;padding-top:0;padding-bottom:0;margin-bottom:8px}
.devsitePage .bodyMenu li a{display:block}
.devsitePage .bodyMenu li ul.subsections li a.selected{background-image:none}
.devsitePage .body.reference hr{border:0;background-color:#d2d2d2;height:1px;margin:0;margin-top:40px}
.devsitePage .body.reference h2{font-weight:normal;color:#666;font-size: 16px;margin-bottom:16px}
.devsitePage .body div.fql_example{margin-bottom:1em}
.devsitePage .bodyMenu .toplevelnav ul.subsections{margin:0;padding:0}
.devsitePage .bodyMenu .toplevelnav li{border-bottom:1px solid #e5e5e5}
.devsitePage .bodyMenu .toplevelnav li.active.withsubsections{padding-bottom:5px}
.devsitePage .bodyMenu .toplevelnav li:first-child{border-top:1px solid #e5e5e5}
.devsitePage .bodyMenu .toplevelnav ul.subsections li{border:0;padding:0 0 0 25px}
.devsitePage .bodyMenu .toplevelnav ul.subsections li a{color:#333;font-size: 12px;padding:3px 6px}
.devsitePage .bodyMenu .toplevelnav li ul.subsections li a:hover{background-image:none}
.devsitePage .bodyMenu .toplevelnav ul li img.imgWrap{float:left;margin:6px 0 0 5px}
.devsitePage .bodyMenu .toplevelnav ul li a.aWrap{display:inline-block;width:128px}

#bootloader_PY_NW { height: 42px; }


/*1316207134,176820408*/

.interaction_form div.dialog_content{border-width:0}
.interaction_dialog_body{border-bottom:1px solid #ccc}
.interaction_form_body{padding:0;border-bottom:none}
.interaction_form .underline{border-bottom:1px solid #edeff5;margin:0 10px}
.interaction_form .minifeedwall .story{margin-top:0;margin-bottom:0}
.interim_status{padding:15px 10px}
.interaction_form .story_preview_nile{padding:10px 3px 6px 20px}
.interaction_form .link_placeholder{color:#3b5998;display:inline;padding:0}
.interaction_form .title .link_placeholder{font-weight:bold}
.interaction_form .not_me_link{float:right;padding:2px 10px}
.interaction_form .feed_dialog_disclaimer{padding:0 0 10px 10px;color:#808080;font-size: 9px}
.interaction_form .dialog_buttons{padding:10px;zoom:1}
.interaction_form .connect_privacy_widget{display:inline-block}
.interaction_form .dialog_buttons_msg{float:left;width:340px;text-align:left;padding-top:3px}
.send_dialog .interaction_form .UIIntentionalStory_Pic,
.send_dialog .interaction_form .UIIntentionalStory_Header{display:none}
.send_dialog .interaction_form .UIIntentionalStory{padding-left:65px}
.send_dialog .uiInfoTable{width:495px}
.send_dialog .uiInfoTable .label{width:40px}
.send_dialog .uiInfoTable textarea{width:425px}
.sidebarCapable #chatFriendsOnline .sidebarBtn{display:inline-block}
.sidebarMode #chatFriendsOnline,.sidebarMode #fbDockChatBuddylistNub.fbNub,.sidebarMode #fbChatErrorNub{display:none}
.sidebarMode #pageHead,.sidebarMode #globalContainer{left:-90px;position:relative}
.sidebarMode .liquid #globalContainer{margin:0 90px}
.sidebarMode .fbDockWrapper.bb{right:175px}
.sidebarMode body.safari4 .fixedScrolling,.sidebarMode .safari4.fixedBody #leftCol,.sidebarMode .safari4.fixedBody .MessagingReadHeader,.sidebarMode .safari4.fixedBody .MessagingContentHeaderWrapper,.sidebarMode .safari4.fixedBody .fbProfilePlacesHeader{margin-left:-90px}
.sidebarMode body.canvas_fixed.safari4 .fixedAux{margin-left:-91px}
.sidebarMode .safari4.fixedBody .fbStreamStickyHeader{margin-left:-110px}
.sidebarMode .timelineLayout .fbTimelineSideColumn{margin-right:-400px}
.sidebarMode .fbTimelineScrubber{margin-right:-400px}
.sidebarMode .fbTimelineStickyHeader{margin-right:-270px}
.sidebarMode #fbPhotoTheater .container{margin-left:-570px}
.fbChatSidebarHovercard{margin:0 197px -33px 0;padding:0 !important;width:347px}
.fbChatSidebarHovercard.HovercardBelow{margin:-33px 197px 0 0}
.fbChatSidebarHovercard .arrow{display:none}
.fbChatTypeahead .throbber{display:none;position:absolute;margin-top:-5px;right:6px;top:50%}
.fbChatTypeahead.hasValue .clear,
.fbChatTypeahead.hasValue.typeaheadLoading .throbber{display:block}
.fbChatTypeahead.typeaheadLoading .clear{display:none}
.liquid #pageHead,.liquid div#globalContainer{margin:0;min-width:980px;padding-left:10px;padding-right:10px;width:auto !important}
.sidebarMode .liquid #blueBar #pageHead{margin:0 90px}
.liquid #minWidthOuter{zoom:1}
body.liquid div#contentArea{display:table-cell;float:none;width:10000px !important;zoom:1}
.liquid #pageFooter{zoom:1}
.UIUpcoming_Item{padding-bottom:4px}
.UIUpcoming_Item .uiCloseButton{display:none}
.UIUpcoming_Item:hover .uiCloseButton{display:block}
#UIUpcoming_New{background-color:#fff7c5;margin:-3px 0 0 -2px;padding:3px 0 2px 3px}
.UIUpcoming_Item .UIUpcoming_NameAndTime{width:202px}
.UIUpcoming_Time{display:inline-block;white-space:nowrap}
#UIUpcoming_New a{margin-top:2px}
.UIUpcoming .UIImageBlock{padding:2px 0 3px}
.UIUpcoming_More .arrow,
.UIUpcoming_Toggle .saving_message{position:absolute}
.UIUpcoming_More .arrow{display:inline}
.homeFixedLayout #rightCol{padding-top:56px}
.home_right_column .fbFeedTicker{border-bottom:1px solid #ebebeb;-webkit-box-shadow:0 1px 0 #e0e0e0}
.fbFeedTicker{width:244px}
.homeFixedLayout .uiOverlayArrowRight{margin-right:3px}
.homeFixedLayout #rightCol .uiSideHeader,#rightCol .tickerHeader{border-bottom:1px solid #d9d9d9;border-top:1px solid #e5e5e5;padding:3px 8px}
.homeFixedLayout #rightCol .uiSideHeader a{color:#6d84b4}
.homeFixedLayout #rightCol .tickerHeader{margin-bottom:0}
.fbFeedTicker .fbFeedTickerStory{background:#fff no-repeat 15px 16px;border-bottom:1px solid #fff;border-top:1px solid #e9e9e9;line-height:14px;outline:0;padding:6px 14px 6px 2px;position:relative}
.fbFeedHeadThickLineCapable{background-color:#e9e9e9;border-top:1px solid #ccc;height:1px;display:none;z-index:1}
.tickerOnTop .fbFeedHeadThickLineCapable{display:block}
.fbFeedTicker .tickerStoryHidden .tickerStoryBlock{display:none}
.fbFeedTicker .fbFeedTickerStory .uiProfilePhoto{margin-right:8px}
.fbFeedTicker .fbFeedTickerStory .uiFacepile .uiProfilePhoto{margin-right:0}
.fbFeedTicker .fbFeedTickerStory .tickerFeedMessage{display:inline;font-size: 11px;font-weight:normal}
.fbFeedTicker .fbFeedTickerStory .actorName,.fbFeedTicker .fbFeedTickerStory .actorDescription{display:inline}
.fbFeedTicker .fbFeedTickerStory .uiStreamPassive,.fbFeedTicker .fbFeedTickerStory .tickerAttachmentBodyText{color:#535353}
.fbFeedTicker .fbFeedTickerStory .removeStory{float:right;margin-right:-5px}
.fbFeedTicker .fbFeedTickerStory .fbEmuHidePoll{padding-left:5px}
.fbFeedTicker .tickerStoryClickable{cursor:pointer}
.fbFeedTicker .tickerStoryHidden{cursor:auto}
.fbFeedTicker .tickerStoryClickable a,.fbFeedTicker .tickerStoryClickable .passiveName,.fbFeedTicker .tickerStoryClickable .token{color:#333;outline:0;text-decoration:none}
.fbFeedTicker .tickerStoryActive,.fbFeedTicker .tickerStoryClickable:hover{background-color:#eceff5 !important;border-bottom-color:#eceff5 !important}
.fbFeedTicker .tickerStorySelected,.fbFeedTicker .tickerStorySelected:hover{background-color:#d8dfea !important;border-color:#a8b2ce !important}
.fbFeedTicker .tickerStoryHidden,.fbFeedTicker .tickerStoryHidden:hover{background-color:#fff !important;border-bottom:1px solid #fff !important;border-top:1px solid #e9e9e9 !important}
.fbFeedTicker .scrollTopPrompt:hover{background-color:#e1e2e9}
.home_right_column .fbFeedTicker .scrollTopPrompt:hover{background-color:#f2f2f2;-webkit-box-shadow:rgba(0, 0, 0, .18) 0 1px 0}
.fbFeedTicker .fbFeedTickerStory .attachmentLink{border-left:2px solid #ccc}
.fbFeedTicker .attachmentPhotoOuter{width:54px;height:34px;border:1px solid #ccc;padding:2px;float:left;margin-left:3px}
.fbFeedTicker .attachmentPhotoOuter:first-child{margin-left:0}
.fbFeedTicker .tickerPhotoAttachment{overflow:hidden}
.fbFeedTicker .tickerStoryClickable .uiTooltipWrap{display:none}
.fbFeedTicker .attachmentPhotoInner{overflow:hidden;width:54px;height:34px}
.fbFeedTicker .attachmentPhoto{width:54px}
.fbFeedTicker .highlightedStory{background-color:#fff9d7 !important;border-color:#e2c822 !important;padding:10px 5px;text-align:center}
.fbFeedTicker .noTimestamps .ticker_timestamp{display:none}
.fbFeedTicker .tickerSpamMenu{padding-left:5px;background:transparent !important}
.fbFeedTicker .uiStreamInlineReplaceList{margin-left:15px;margin-top:5px}
.tickerNUXDialog{margin-top:50px}
.fbFeedTicker .fbFeedTickerStory#tickerNuxStoryDiv{background-color:#f4f4f4;border-bottom-color:#c0c0c0;border-top-color:#ccc;-webkit-box-shadow:rgba(0, 0, 0, .1) 0 1px 0;margin:-2px 0 -15px 0;padding:8px 8px 8px 10px;z-index:10}
.fbFeedTicker .fbFeedTickerStory#tickerNuxStoryDiv:hover{border-bottom-color:#b1bdd6 !important;border-top-color:#c0c0c0}
.rightCol .home_right_column .fbFeedTicker .tickerStorySelected#tickerNuxStoryDiv,.rightCol .home_right_column .fbFeedTicker .tickerStorySelected#tickerNuxStoryDiv:hover{border-color:#a8afd0}
.tickerInlineOverlay{background-color:#fff;border:1px solid #ccc;border-color:rgba(0, 0, 0, .2);-webkit-border-radius:2px;border-right:none;-webkit-box-shadow:5px 0 10px 10px #eceff5;color:#6d84b4;display:none;height:17px;margin-top:-12px;padding:3px 10px 0 6px;position:absolute;right:0;top:50%}
.fbFeedTicker .tickerStoryActive .tickerInlineOverlay{display:block}
.fbFeedTicker .tickerStorySelected .tickerInlineOverlay{-webkit-box-shadow:5px 0 10px 10px #d8dfea}
.tickerInlineOverlay:hover{border-color:#7489b6;border-color:rgba(59, 89, 152, .55)}
.tickerInlineOverlay:active{background-color:#f9fafc;background-color:rgba(249, 250, 252, .9);border-color:rgba(59, 89, 152, .5)}
.tickerInlineOverlayDisabled{background-color:#fff !important;border-color:rgba(0, 0, 0, .2) !important}
.tickerInlineOverlay .tickerInlineLike input:hover,.tickerInlineOverlay .tickerInlineLike input:active{text-decoration:none}
.tickerInlineOverlayDisabled .tickerInlineLike input,.tickerInlineOverlayDisabled .tickerInlineLike input:hover,.tickerInlineOverlayDisabled .tickerInlineLike input:active{color:#808080}
.tickerInlineOverlayLink{bottom:-11px;display:none;height:25px;position:absolute;right:0;z-index:1;width:170px}
.tickerInlineOverlayLinkWrap:hover{background-color:#fff;border:1px solid rgba(59, 89, 152, .35);border-bottom:1px solid rgba(59, 89, 152, .45)}
.tickerInlineOverlayLinkWrap{background-color:#fbfcfd;border:1px solid rgba(59, 89, 152, .20);border-bottom:1px solid rgba(59, 89, 152, .30);-webkit-border-radius:2px;color:#3b5998;float:right;margin-right:8px;padding:3px 5px}
.tickerInlineOverlayLink .inlineLikePrompt input,.tickerInlineOverlayLink .inlineLikeConfirmation input{font-size: 9px;font-weight:normal;margin:1px 0 0 -1px}
.tickerChildSelected .fbFeedTickerStory:hover .tickerInlineOverlayLink{display:none}
.fbFeedTickerStory:hover .tickerInlineOverlayLink,.tickerChildSelected .tickerStorySelected .tickerInlineOverlayLink,.tickerChildSelected .tickerStorySelected:hover .tickerInlineOverlayLink{display:block}
.tickerInlineLikeButton.async_saving .default_action,.tickerInlineLikeButton .saving_action{display:none}
.tickerInlineLikeButton.async_saving .default_action label{padding-left:16px}
.tickerInlineLikeButton .default_action,.tickerInlineLikeButton.async_saving .saving_action{display:block}
.tickerInlineOverlayLink .tickerInlineLikeButton input:hover,.tickerInlineOverlayLink .tickerInlineLikeButton input:active{text-decoration:none}
.canvasTicker .tickerInlineOverlayLink{display:none !important}
.ego_wide div#globalContainer{width:1020px}
.ego_wide .hasRightCol #contentArea{width:760px}
.ego_wide.liquid div#globalContainer{min-width:1020px}
.canvas_iframe_util{overflow:hidden;width:646px;height:800px}
.frame_wide .canvas_iframe_util{width:760px}
.frame_wide #fb_sell_profile{overflow:hidden;max-height:100px}
.fbframe .canvas_rel_positioning{position:relative;overflow:hidden;zoom:1}
#canvas_throbber{display:none;padding:220px 0;text-align:center}
#canvas_throbber.async_saving{display:block}
#iframe_canvas,
#iframe_canvas_fb_https{width:100%}
body.canvas_fixed div#pageHead{width:1006px}
body.canvas_fixed.liquid div#pageHead{left:0;width:100%}
body.canvas_fixed div#rightCol{height:1px}
body.canvas_fixed .fixedAux{border-left:solid 1px #b3b3b3;border-right:solid 1px #b3b3b3;bottom:0;margin-left:-1px;position:fixed;top:41px}
body.canvas_fixed.hasSlimHeader .fixedAux{top:35px}
body.canvas_fixed .fixedAux div#pagelet_ego_pane{background-color:#fff;bottom:0;padding-bottom:31px;position:absolute;z-index:10}
.achievementLockedContainer{position:relative}
.achievementLockedOverlay{z-index:1;position:absolute;right:19px;top:18px;pointer-events:none}
.achievementPreview{display:block;margin-right:1px}
.achievementLockedContainer .achievementPreview{opacity:.3}
.hovercard.AchievementBadgeHovercard .stage{max-width:300px}
.achievementTooltip{display:block}
body.canvas_live_chrome .ego_unit{margin-left:3px;margin-right:3px}
body.canvas_live_chrome #blueBar div#pageHead,
body.canvas_live_chrome div#globalContainer{width:1006px}
body.canvas_live_chrome div#globalContainer{padding-left:0}
body.canvas_live_chrome.liquid #blueBar div#pageHead,
body.canvas_live_chrome.liquid div#globalContainer{min-width:1020px}
body.canvas_live_chrome #mainContainer{border-right:1px solid #b3b3b3}
body.canvas_live_chrome #contentCol{padding-top:0}
body.canvas_live_chrome #rightCol{border-left:1px solid #b3b3b3;margin-left:-1px;min-height:1px}
body.canvas_live_chrome #bottomContent{display:none}
body.canvas_live_chrome #contentCurve{margin:0 8px}
body.canvas_live_chrome #footerContainer{margin:0 8px 25px 8px}
body.canvas_live_chrome div#contentArea{border-right:1px solid #b3b3b3}
body.canvas_live_chrome div#contentArea::after{display:none}
body.canvas_live_chrome #rightCol .fbFeedTicker,body.canvas_live_chrome #rightCol .fbFeedTicker .scrollTopPrompt{width:244px}
body.canvas_live_chrome #rightCol .fbFeedTicker .ticker_container{max-height:10000px;width:265px}
body.canvas_live_chrome #rightCol .fbFeedTicker .ticker_fadebox{display:none}
body.canvas_live_chrome #rightCol .fbFeedTickerStoryFooter{margin-left:42px}
body.canvas_live_chrome .fbFeedTickerStory:hover .tickerInlineOverlay{display:block}
body.canvas_live_chrome .fbFeedTickerStory .uiSelectorMenuWrapper{max-width:235px;z-index:20}
body.canvas_live_chrome .fbFeedTickerStory .uiSelector .uiCloseButton{margin-right:5px}
body.canvas_live_chrome .fbFeedTickerStory .uiSelectorMenuWrapper .uiMenuItemBigLabel .itemLabel{max-width:235px;min-width:200px}
.typeahead_list{background:transparent;border:1px solid #bdc7d8;border-top:none;font-size: 11px;margin-top:-1px;overflow:auto;position:absolute;text-align:left;z-index:97}
.generic_dialog .typeahead_list,.typeahead_list_absolute{z-index:300}
.typeahead_list .typeahead_suggestion,.typeahead_list .typeahead_message{border-top:1px solid #ddd;padding:3px}
.typeahead_list .typeahead_suggestion{background:#fff;color:#000;cursor:default;opacity:.94}
.typeahead_list .typeahead_suggestion:hover{cursor:pointer;cursor:hand}
.typeahead_list .typeahead_suggestion em{background:#d8dfea;color:#000;font-style:normal;font-weight:bold}
.typeahead_list .typeahead_suggestion small{color:#808080;padding-left:5px}
.typeahead_list .typeahead_selected{background:#3b5998;color:#fff;opacity:1}
.typeahead_list .typeahead_selected small{color:#95a5c6}
.typeahead_list .typeahead_selected em{background:#5670a6;color:#fff}
.typeahead_list .typeahead_message{background:#eee;color:#333}
input.typeahead_found{background-color:#e1e9f6}
.typeahead_iframe{left:0;opacity:0;position:absolute;top:0}
.typeahead_parent{margin:0;padding:0;overflow:visible;position:relative;float:left;width:0;height:0}
.typeahead_list_icon{width:27px;height:22px;position:absolute;left:-30px;top:3px;cursor:pointer;padding:0}
.tokenizer{min-height:5px;padding:0 0 3px 3px;width:100%;background:#fff;font-size: 11px}
.tokenizer_locked{background:#f4f4f4}
.tokenizer,.tokenizer *{cursor:text}
.tokenizer .placeholder{color:#777;float:left;margin-top:5px}
.tokenizer input{width:100%}
.tokenizer .tokenizer_input,.tokenizer .token{float:left;margin-right:3px;margin-top:3px}
.tokenizer .tab_stop,.tokenizer .tokenizer_stretcher{display:block;float:left;overflow:hidden}
.tokenizer .tab_stop{height:1px;width:1px}
.tokenizer .tokenizer_stretcher{width:0;padding-top:7px}
.tokenizer_input_borderless div{left:4px;margin-left:-1px;overflow:hidden;position:relative}
.tokenizer_input_borderless div input{border:3px solid white!important;border-left:none;display:block;margin:-2px 0 -2px -2px;padding:0!important}
.tokenizer div:-moz-first-node{padding-top:1px!important}
.tokenizer_input{max-width:450px;overflow:hidden;padding:1px 0}
div.standard_tokenizer div.tokenizer{border:solid 1px #8f96bd}
.typeahead_list .typeahead_suggestion .with_pic small{padding-left:0}
.uiScrollableArea{height:100%;overflow:hidden;position:relative;width:100%}
.uiScrollableAreaWrap{height:100%;overflow-x:hidden;overflow-y:auto;position:relative;width:150%}
.native .uiScrollableAreaWrap,.native .uiScrollableAreaBody,.no_js .uiScrollableAreaWrap,.no_js .uiScrollableAreaBody{width:auto !important}
.uiScrollableAreaBody{position:relative}
.uiScrollableAreaTrack{bottom:2px;display:block;position:absolute;right:2px;top:2px;width:7px;z-index:5}
.native .uiScrollableAreaTrack,.no_js .uiScrollableAreaTrack{display:none}
.fade .uiScrollableAreaTrack{opacity:0}
.uiScrollableAreaGripper{background-color:rgba(0, 0, 0, .4);-webkit-border-radius:7px;position:absolute;width:7px}
.uiScrollableArea.contentBefore:before,.uiScrollableArea.contentAfter:after{content:'';display:block;height:2px;position:absolute;width:100%;z-index:99}
.uiScrollableArea.contentBefore:before{top:0}
.uiScrollableArea.contentAfter:after{background-color:rgba(0, 0, 0, .07);bottom:0}
.uiClearableTypeahead .selected .clear{display:block}
.uiClearableTypeahead .clear,.uiTypeaheadDisabled .selected .clear{display:none;position:absolute;margin-top:-7px;right:3px;top:50%}
.uiClearableTypeahead .selected{padding-right:16px}
.uiTypeaheadDisabled .selected{padding-right:0}
.uiTypeaheadView .basic img{display:block;float:left;padding-right:4px}
.uiTypeahead .uiTypeaheadView .basic .calltoaction{padding:3px}

#bootloader_QLEvz { height: 42px; }


/*1316209963,176833976*/

form{margin:0;padding:0}
label{cursor:pointer;color:#666;font-weight:bold;vertical-align:middle}
label input{font-weight:normal}
textarea,.inputtext,.inputpassword{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size: 11px;padding:3px;-webkit-appearance:none;-webkit-border-radius:0}
select{border:1px solid #bdc7d8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size: 11px;padding:2px}
.inputtext,.inputpassword{margin:0;padding-bottom:4px}
.inputradio{padding:0;margin:0 5px 0 0;vertical-align:middle}
.inputcheckbox{border:0;vertical-align:middle}
.inputbutton,.inputsubmit{border-style:solid;border-width:1px;border-color:#d9dfea #0e1f5b #0e1f5b #d9dfea;background-color:#3b5998;color:#fff;padding:2px 15px 3px 15px;text-align:center}
.inputsubmit_disabled{background-color:#999;border-bottom:1px solid #000;border-right:1px solid #666;color:#fff}
.inputaux{background:#f0f0f0;border-color:#e7e7e7 #666 #666 #e7e7e7;color:#000}
.inputaux_disabled{color:#999}
body{background:#fff;font-size: 11px;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;color:#333;line-height:1.28;margin:0;padding:0;text-align:left;direction:ltr;unicode-bidi:embed}
h1,h2,h3,h4,h5,h6{font-size: 13px;color:#333;margin:0;padding:0}
h1{font-size: 14px}
h4,h5{font-size: 11px}
p{margin:1em 0}
a{cursor:pointer;color:#3b5998;text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}
td,td.label{font-size: 11px;text-align:left}
dd{color:#000}
dt{color:#777}
ul{list-style-type:none;margin:0;padding:0}
abbr{border-bottom:none}
hr{background:#d9d9d9;border-width:0;color:#d9d9d9;height:1px}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}
.datawrap{word-wrap:break-word}
.word_break{display:block;float:left;margin-left:-10px;padding:0}
.img_loading{position:absolute;top:-9999999px}
.aero{opacity:.5}
.column{float:left}
.center{margin-left:auto;margin-right:auto}
.direction_ltr{direction:ltr}
.direction_rtl{direction:rtl}
.text_align_ltr{text-align:left}
.text_align_rtl{text-align:right}
.DOMControl_placeholder{color:#777}
.no_js .DOMControl_placeholder{color:#000}
body{overflow-y:scroll}
.mini_iframe,.serverfbml_iframe{overflow-y:visible}
.auto_resize_iframe{height:auto;overflow:hidden}
.pipe{color:#808080;padding:0 3px}
#content{width:auto;padding:0;margin:0}
.profile #content,.home #content,.search #content{min-height:600px}
.UIStandardFrame_Container{width:960px;padding:0;margin:20px auto 0}
.UIStandardFrame_Content{width:760px;float:left;margin:0;padding:0}
.UIStandardFrame_SidebarAds{width:200px;padding:0;margin:0;float:right}
.UIFullPage_Container{width:940px;padding:0 12px;margin:20px auto 0}
.empty_message{font-size: 13px;line-height:17px;padding:20px 20px 50px 20px;text-align:center;background:#f7f7f7}
.see_all{text-align:right}
.standard_status_element{visibility:hidden}
.standard_status_element.async_saving{visibility:visible}
img.tracking_pixel{height:1px;position:absolute;visibility:hidden;width:1px}
#dropmenu_container{display:block;height:0;margin:0 auto;padding:0;position:absolute;width:964px;z-index:300}
.fbx #pageFooter{margin:auto;width:auto}
.hasLeftCol #pageFooter{background-color:#fff;clear:both;margin-left:180px}
#pagefooter{border-top:0}
#pageFooter{color:#737373;font-size: 11px;margin:0 auto;width:980px}
#pageFooter a{text-decoration:none;white-space:nowrap}
#pageFooter a:last-child{margin-right:0}
#pageFooter a:hover{text-decoration:underline}
#contentCurve{background-color:#fff;border-bottom:1px solid #b3b3b3;height:8px;font-size: 1px}
.hasLeftCol #contentCurve{border:1px solid #b3b3b3;border-top:none;position:relative}
#footerContainer{border-top:1px solid #eee;margin-bottom:30px;padding:8px;position:relative}
#footerContainer .navigation{text-align:right}
#pageHead{margin:0 auto;width:980px}
.fbx #pageHead{margin:0;width:auto}
#pageLogo{float:left;margin-left:-6px;z-index:5}
#headNav{background-color:#627aad;border:1px solid #1d4088;border-bottom:0;height:30px;margin-left:180px}
#pageNav li{float:left}
#pageNav a{color:#fff;display:block;display:inline-block;font-weight:bold;height:22px;padding:8px 10px 0 10px;text-decoration:none}
#pageNav a:hover,#pageNav a:focus,#pageNav a:active{outline:none;background-color:#6d86b7}
#navAccount{position:relative}
#navAccount.openToggler,.no_js #navAccount:hover{background-color:#fff;border:1px solid #333;border-bottom:0;margin:-1px -1px 0}
#navAccount #navAccountLink{padding-right:16px;zoom:1}
.openToggler #navAccountLink,.no_js #navAccount:hover #navAccountLink{background-color:#fff;color:#333;position:relative;z-index:2}
.openToggler #navAccountLink:hover,.openToggler #navAccountLink:focus,.openToggler #navAccountLink:active,.no_js #navAccountLink:hover{background-color:#fff}
.openToggler #navAccountLink .dropMenuDivide,.no_js #navAccount:hover #navAccountLink .dropMenuDivide{background:#e0e0e0}
#navAccount ul{background:#fff;border:1px solid #333;border-bottom:2px solid #2d4486;display:none;margin-right:-1px;margin-top:-1px;min-width:200px;padding:10px 0 5px;position:absolute;right:0;top:100%;z-index:1}
#navAccount.openToggler ul,.no_js #navAccount:hover ul{display:block}
#navAccount ul .logoutButton{display:block}
#navAccount .logoutButton:hover{text-decoration:none}
#navAccount .logoutButton input{width:100%;text-align:left;outline:0}
#navAccount ul a,#navAccount ul .logoutButton input{color:#3a579a;display:block;font-weight:normal;height:auto;padding:4px 10px 5px;white-space:nowrap}
#navAccount ul a:hover,#navAccount ul a:focus,#navAccount ul a:active,#navAccount .logoutButton:hover input,#navAccount .logoutButton input:active,#navAccount .logoutButton input:focus{background:#6d84b4;border-bottom:1px solid #3b5998;border-top:1px solid #3b5998;color:#fff;padding:3px 10px 4px;text-decoration:none}
#navAccount li{display:block;float:none}
#navAccountInfo{border-bottom:1px solid #e0e0e0;min-height:55px;position:relative;margin:5px 4px;padding:0 6px 0 64px}
ul #navAccountInfo a:hover,ul #navAccountInfo a:focus,ul #navAccountInfo a:active{background:none;border:none;color:#3b5998;padding:4px 10px 5px;text-decoration:underline}
#navAccountInfo #navAccountPic{left:-5px;margin:0;position:absolute;top:-9px}
#navAccountInfo #navAccountPic img{width:50px;height:50px}
#navAccount #navAccountName{font-size: 13px;font-weight:bold;margin:0;padding:0 !important}
#navSearch{margin:4px 0 0 4px;width:350px}
#navSearch .uiSearchInput{border:0}
#navSearch .uiSearchInput input{width:315px}
#navSearch .uiTypeahead,#navSearch .uiTypeahead .wrap{border-color:#3b5998;z-index:100}
.fbJewel{float:left;margin-right:-1px}
#jewelContainer{float:left;position:relative;z-index:4}
#jewelContainer .hasNew,#jewelContainer .openToggler{position:relative}
.fbJewel .jewelCount{background-color:#00376a;-webkit-border-radius:2px;color:#fff;display:none;font-size: 9px;font-weight:bold;padding-bottom:1px;position:absolute;right:-1px;top:-1px;z-index:101}
#jewelContainer .hasNew .jewelCount{display:block}
#jewelContainer .openToggler .jewelCount{display:none}
.fbJewel .jewelCount span{background-color:#f03d25;border:1px solid #dd3822;-webkit-border-radius:2px;border-top:0;display:block;padding:1px 1px 0}
.fbJewel a.jewelButton{display:block;height:31px;text-decoration:none;margin:0 1px;width:24px}
.fbJewel a.jewelButton:active,.fbJewel a.jewelButton:focus,.fbJewel a.jewelButton:hover{background-color:#4b67a1;outline:none;text-decoration:none}
#jewelContainer .openToggler .jewelButton{background-color:#fff !important;border:1px solid #333;border-bottom:0;height:30px;margin:0}
.fbJewelFlyout{background-color:#fff;border:1px solid #333;border-bottom:2px solid #293e6a;left:0;overflow:visible;position:absolute;top:30px;width:330px;z-index:-1}
.fbJewelFlyout .metadata{padding-top:3px}
.fbJewelFlyout ul{padding:4px 0}
.fbJewelFlyout .jewelHighlight .empty{border:none;padding:4px 8px}
.fbJewelFlyout .jewelHighlight li a{color:#333;display:block;padding:4px 8px;text-decoration:none}
.fbJewelFlyout .jewelHighlight li a:hover,.fbJewelFlyout .jewelHighlight li a:active,.fbJewelFlyout .jewelHighlight li a:focus{background-color:#6d84b4 !important;border-bottom:1px solid #3b5998;border-top:1px solid #3b5998;outline:none;padding-top:3px;padding-bottom:3px;text-decoration:none}
.fbJewelFlyout .jewelHighlight a:hover span,.fbJewelFlyout .jewelHighlight a:active span,.fbJewelFlyout .jewelHighlight a:focus span,.fbJewelFlyout .jewelHighlight a:hover div,.fbJewelFlyout .jewelHighlight a:active div,.fbJewelFlyout .jewelHighlight a:focus div,.fbJewelFlyout .jewelHighlight li.selected a,.fbJewelFlyout .jewelHighlight li.selected .timestamp{color:#fff}
.fbJewelFlyout .jewelHighlight li{cursor:pointer;border-top:1px solid #e6e6e6}
.fbJewelFlyout .jewelHighlight li:first-child{border-top:none}
.fbJewelFlyout li.jewelItemNew{background:#eff1f7}
.fbJewelFlyout .jewelLoading{display:block;margin:10px auto}
.fbJewelFlyout .jewelHeader{padding:7px 8px 7px 8px;border-color:#ddd}
.fbJewelFlyout .jewelFooter a{background-color:#f7f7f7;border-top:1px solid #e0e0e0;display:block;font-weight:bold;padding:8px;text-align:center}
.fbJewelFlyout .jewelFooter a:hover,.fbJewelFlyout .jewelFooter a:active,.fbJewelFlyout .jewelFooter a:focus{background-color:#6d84b4;border-top:1px solid #3b5998;color:#fff;outline:none;text-decoration:none}
.fbJewelFlyout .jewelFooter .seeMoreCount{display:none;font-weight:bold;padding:2px 0 0}
.fbJewelFlyout .jewelUnread .seeMoreCount{display:block}
.fbJewelFlyout .jewelFooter a:hover .seeMoreCount,.fbJewelFlyout .jewelFooter a:active .seeMoreCount,.fbJewelFlyout .jewelFooter a:focus .seeMoreCount{color:#e7e7e7}
.contextual_dialog .generic_dialog_popup{padding-top:9px;position:absolute;width:360px}
.contextual_dialog .contextual_dialog_content{background:#fff;border:1px solid #333;border-bottom:2px solid #283e6a;line-height:15px}
.contextual_dialog .contextual_dialog_content div.dialog_loading{background:#fff;border:0}
.contextual_dialog .dialog_title{color:#000;font-size: 11px;padding-bottom:2px;padding:8px 10px 0}
.contextual_dialog .dialog_body{padding:8px 10px}
.contextual_dialog .dialog_buttons{background-color:#f2f2f2;border-top:1px solid #ccc;padding:8px 10px}
.contextual_dialog .dialog_buttons_msg{float:right}
.uiSearchInput{background:#fff;border:1px solid #899bc1;border-top-color:#6484b4;display:inline-block}
.uiSearchInput span{border:0;border-top:1px solid #ededed;display:inline-block;padding:1px 0 2px;position:relative}
.uiSearchInput input{border:0;margin:0 22px 0 5px;outline:none;padding:1px 5px 2px 0;width:190px}
.objectListItem{padding-bottom:8px;padding-top:8px}
.passive .objectListItem{color:#808080}
.objectListItem .auxiliary{text-align:right}
.mouseEventsDisabled .MicrosoftMap{cursor:default !important}
.uiTypeaheadView .bucketed ul{padding:0}
.uiTypeaheadView .bucketed .header{background-color:#f2f2f2;border-top:1px solid #e2e2e2;border-bottom:none;margin-top:4px;min-height:10px;padding:2px 15px 2px 6px}
.uiTypeaheadView .bucketed .header:first-child{border-top:none;margin-top:0}
.uiTypeaheadView .bucketed .header .text{color:#000 !important}
.uiTypeaheadView .search li{min-height:50px;padding:2px 30px 2px 63px}
.uiTypeaheadView .search li a{outline:none}
.uiTypeaheadView .search li a:hover{text-decoration:none}
.uiTypeaheadView .search img{background-color:#eceff5;display:block;height:50px;left:6px;position:absolute;width:50px}
.uiTypeaheadView .search .text{color:#3b5998;font-weight:bold}
.uiTypeaheadView .search .subtext{font-size: 9px}
.uiTypeaheadView .search .seeMore{color:#3b5998;font-size: 11px;font-weight:bold;padding-bottom:0;padding-right:7px}
.uiTypeaheadView .search .web{padding:2px 15px 2px 6px}
.uiTypeaheadView .search .question{min-height:14px;padding:3px 30px 3px 6px}
.uiTypeaheadView .search .question .text{display:inline}
.uiTypeaheadView .search .question .subtext{display:inline;margin-left:5px;white-space:nowrap}
.uiTypeaheadView .search .friendlist .photo{background-color:transparent}

#bootloader_4GrDC { height: 42px; }

#top-bar {
background-image: url('./fondo_top_bar.png');
background-repeat: repeat-x;
height: 80px;
display: block;
}

#header-content {
width: 940px;
margin: 0 auto;
position: relative;
display: block;
}

#top-bar p{
    margin: 0;
    display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

#top-bar p.logo a {
display: block;
background-image: url('http://static.caffeina.mx/logos.png');
background-repeat: no-repeat;
background-position: 0 0px;
height: 76px;
width: 199px;
text-indent: -10000px;
padding-top: 15px;
}

ul.nav {
list-style-type: none;
margin: 0;
padding: 0;
position: absolute;
top: 24px;
right: 0;
font-family: 'ff-din-web-1', 'ff-din-web-2', "Helvetica Neue", Arial, Helvetica, sans-serif;

display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;

}

ul.nav li {
display: inline;
text-align: -webkit-match-parent;
}

ul.nav li a {
color: white;
text-decoration: none;
display: block;
float: left;
margin-left: 12px;
text-transform: uppercase;
font-size: 13px;
color: white;
padding: 4px 10px;
text-shadow: 1px 1px 1px black;
font-weight: 700;
-webkit-transition-property: background-color, color;
-webkit-transition-duration: 0.2s, 0.2s;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
cursor: auto;
}

.bordered{border:1px solid #ddd !important}

input, textarea{
    width:100%;
}
