/*1319437274,176820409*/

.sp_990tmg{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yH/r/jPN1Sr2A7B_.png);background-repeat:no-repeat;display:inline-block;height:17px;width:166px}
.sx_a67319{background-position:-0px -0px}
.sx_a0a410{width:10px;height:14px;background-position:-10px -18px}
.selected .sx_a0a410{background-position:-0px -18px}
.sp_csm668{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/y3/r/_wD0NaRetnw.png);background-repeat:no-repeat;display:inline-block;height:108px;width:126px}
.sx_56d1c3{background-position:-0px -0px}
.sx_445db5{background-position:-0px -109px}
.sx_e39db3{background-position:-0px -218px}
.sx_0e1903{background-position:-0px -327px}

#bootloader_EFOz5 { height: 42px; }